@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  max-width: 100%;
}

p {
  font-size: .8rem;
  text-align: center;
  color: hsl(224, 23%, 55%);
}

.container {
  background-color: #fff;
  width: 20em;
  border-radius: 0.8em;
}

.container .hero-image {
  width: 100%;
  border-top-right-radius: 0.9em;
  border-top-left-radius: 0.9em;
}

.grouper {
  padding: 0 2.6em 2.6em;
}

h1 {
  font-weight: 900;
  text-align: center;
  font-size: 1.6rem;
  margin: 1em 0 0.6em;
  color: hsl(223, 47%, 23%);
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(225, 100%, 98%);

  padding: 0.6em 1em;
  margin-bottom: 1.4em;
  border-radius: 0.4em;

  gap: 1em;
}

.pricing p {
  font-size: 0.8rem;
}

.lead {
  width: 16rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1.2em;
}

span img {
  display: inline-block;
}

h4 {
  font-size: 0.8rem;
}

.grouped {
    margin-right: 1.2em;
}

a {
    text-decoration: none;
    font-size: .8rem;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

button {
    border: none;
    background-color: hsl(245, 75%, 52%);
    width: 100%;

    color: #fff;
    padding: 1em;
    border-radius: .3em;
    font-weight: 700;
    box-shadow: -1px 12px 10px hsl(225, 100%, 94%);
    margin-bottom: 1.6em;

    cursor: pointer;  
}

button:hover {
    background-color: hsl(245, 68%, 41%);
}

.cancel {
    font-weight: 700;
}